.f36 {
  font-size: 36px !important;
}
.f35 {
  font-size: 35px !important;
}
.f34 {
  font-size: 34px !important;
}
.f33 {
  font-size: 33px !important;
}
.f32 {
  font-size: 32px !important;
}
.f31 {
  font-size: 31px !important;
}
.f30 {
  font-size: 30px !important;
}
.f29 {
  font-size: 29px !important;
}
.f28 {
  font-size: 28px !important;
}
.f27 {
  font-size: 27px !important;
}
.f26 {
  font-size: 26px !important;
}
.f25 {
  font-size: 25px !important;
}
.f24 {
  font-size: 24px !important;
}
.f23 {
  font-size: 23px !important;
}
.f22 {
  font-size: 22px !important;
}
.f21 {
  font-size: 21px !important;
}
.f20 {
  font-size: 20px !important;
}
.f19 {
  font-size: 19px !important;
}
.f18 {
  font-size: 18px !important;
}
.f17 {
  font-size: 17px !important;
}
.f16 {
  font-size: 16px !important;
}
.f15 {
  font-size: 15px !important;
}
.f14 {
  font-size: 14px !important;
}
.f13 {
  font-size: 13px !important;
}
.f12 {
  font-size: 12px !important;
}
.f11 {
  font-size: 11px !important;
}
.f10 {
  font-size: 10px !important;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
